*{
  margin: 0;
  padding: 0;
}

body {
  padding: 20;
  margin: 0;
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
  font-size: 18px;
  line-height: 150%;
  color: rgb(169, 169, 206);
  background-color: lightgrey;
}
.header{
width: 100%;
background-color: white;
text-emphasis-color:teal;
float: right;

}


ul{

}
ul li {
  list-style: none;
  display: inline-block;
  line-height: 100px;


}
ul li a {
  display: block;
  text-decoration: none; 
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 17px;
   float: right;
   color:grey
   
    }

    .wrapper{
      margin-left: 20%;
      margin-right: 20%;

    }
    .left{
      float: left;
    }
    .right{
      float: right;
    }
    

h1 {
  padding: 20px 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-left: 5%;
  margin-bottom: 20px;
  width: 300px;
  font-size: 28px;
  color: #eee;
  text-align: center;
  background-color:#4aaaa5;
}


#bio-image {
  width: 200px;
  height: 200px;
  margin-right: 20px;
}
.footer{
  background-color: #666666 ;
  position: fixed;
   padding: 20px;
    width: 100%;
     bottom: 0;
     text-align: center;